{# 

USAGE: 
  {% put imageSectionContent %}
    {% component 'editable' file="path-to-content.htm" %}
  {% endput %}

  {% partial "imagesection" image=('path-to-image.jpg'|theme) imageAlt="Alt Text" textWhite=false %}
#}

<div class="container">
  <img src="{{ image }}" 
    class="cover background parallax"
    data-bottom-top="object-position: 50% -350px"
    data-top-bottom="object-position: 50% 250px"
    alt="{{ imageAlt }}">
  <div class="row padded huge">
    <div class="large-12 columns text-center {% if textWhite %} text-white {% endif %}">
      {% placeholder imageSectionContent %}
    </div>
  </div>
</div>