<footer>
  <div class="row padded">
    <div class="large-6 columns text-center medium-text-left">
      <p>
        The Laughing Place Bakery <br>
        <strong>Address:</strong> 504 NE 70th St B, Gladstone, MO 64118<br>
        <strong>Phone:</strong> <a href="tel:+18167863890">(816) 786-3890</a>
      </p>
    </div>
    <div class="large-6 columns text-center medium-text-right">
      Website by <a href="http://www.boyerwebstudios.com/" target="_blank">Boyer Web Studios</a>
    </div>
  </div>
</footer>