<footer>
  <div class="row padded">
    <h3>LOCATIONS</h3>
    <div class="row">
      <div class="medium-4 columns">
        <p>
          <em>Brooklyn</em><br>
          376 Van Brunt St<br>
          Brooklyn, NY 11231<br>
          718 326-1999
        </p>
        <p>
          Open Monday - Friday from 8am to 12pm
        </p>
      </div>
      <div class="medium-4 columns">
        <p>
          <em>Queens</em><br>
          376 Van Brunt St<br>
          Brooklyn, NY 11231<br>
          718 326-1999
        </p>
        <p>
          Open Monday - Friday from 8am to 11pm
        </p>
      </div>
      <div class="medium-4 columns">
        <p>
          <em>Food Truck</em><br>
          376 Van Brunt St<br>
          Brooklyn, NY 11231<br>
          718 326-1999
        </p>
        <p>
          Open Monday - Thursday from 11am to 11pm
        </p>
      </div>
    </div>
  </div>
</footer>