{# 

USAGE: 
  {% put heroContent %}
    {% component 'editable' file="path-to-content.htm" %}
  {% endput %}

  {% partial "common/hero" image=('path-to-image.jpg'|theme) imageAlt="Alt Text" textWhite=false %}
#}


<div class="hero {% if fullheight %} fullheight {% endif %}">
  {% if image and (image|trim) %}
  <img src="{{ image }}" 
    alt="{{ imageAlt }}" 
    class="background cover parallax"
    data-top="object-position: 50% -100px"
    data-top-bottom="object-position: 50% 250px"
    >
  {% endif %}

  {% partial "common/navigation" %}

  <div class="content">
    <div class="row">
      <div class="large-12 columns text-center {% if textWhite %} text-white {% endif %}">
        {% placeholder heroContent %}
      </div>
    </div>
  </div>
</div>