==
<nav class="wrapper background-white">
  <div class="row">
    <div class="medium-6 columns text-center medium-text-left">
      <a href="{{ '/'|app }}" class="logo">{% if this.theme.site_logo %}<img src="{{this.theme.site_logo|theme}}" alt="{{this.theme.site_name}}">{% elseif this.theme.site_name %}{{ this.theme.site_name }}{% else %}THE RESTAURANT{% endif %}</a>
    </div>
    <div class="medium-6 columns text-center medium-text-right">
      <ul>
        <li><a href="{{ "about" | page }}">Our Story</a></li>
        <li><a href="{{ "testimonials" | page }}">Testimonials</a></li>
        <li><a href="{{ "menu" | page }}">Menu</a></li>
        <li><a href="{{ "specials" | page }}">Daily Specials</a></li>
        <li><b><a href="https://www.ezcater.com/catering/pvt/the-laughing-place-bakery-kansas-city?fcv=1" target="_blank">Catering</a></b></li>
      </ul>
    </div>
  </div>
</nav>